* {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.a4 {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url("/assets/Letterheads/GYPRC/Offerletter/background image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    background: none;
  }
  .a4 {
    box-shadow: none;
  }
}

.header-clip {
  width: 210mm;
  overflow: hidden;
}

.header {
  width: 228mm;
  margin-top: -23mm;
  position: relative;
}

.header img.bg {
  width: 100%;
  display: block;
}

.header .logo {
  position: absolute;
  left: 20mm;
  top: 20mm;
  width: 50mm;
}

.content {
  padding: 20mm;
  padding-top: 10mm;
  line-height: 1.6;
}

.content h1 {
  text-align: center;
  font-size: 24pt;
  margin-bottom: 20pt;
  font-weight: bold;
}

.content p {
  margin-bottom: 10pt;
  text-align: justify;
}

.content .date {
  text-align: right;
  margin-bottom: 20pt;
}

.content .address {
  margin-bottom: 20pt;
}

.content .salutation {
  margin-bottom: 20pt;
}

.content .body {
  margin-bottom: 20pt;
}

.content .closing {
  margin-bottom: 20pt;
}

.signature {
  margin-top: 40pt;
  text-align: left;
}

.signature img {
  width: 80px;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 20mm;
  left: 20mm;
  right: 20mm;
  text-align: center;
  font-size: 10pt;
  color: #666;
}